.clipping {
    background: lightgray;
    width: 16rem;
    padding: .8rem;
    padding-top: 2rem;
    transform-origin: top left;
    height: 40rem;
    transform-origin: center;
    overflow: hidden;
    border-radius: 1px;
    box-shadow: 1px 1px 0px 2px rgba(black, .8);

    &.is-dragging {
    }
}

.clipping-meta {
    border-top: .2px solid black;
    padding-top: .2rem;
    padding-bottom: 1.2rem;
}

.clipping-title {
    font-size: 3em;
    line-height: .98;
    font-weight: 800;
    font-family: $condensed;
    margin-bottom: 1rem;
    hyphens: auto;
}

.clipping-intro {
    font-size: 1.4rem;
    border-bottom: .5px solid black;
    margin-bottom: .2rem;
}

.clipping-location {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: .7rem;
    font-weight: 600;
}

.clipping-body {
    font-size: 1.1rem;
    line-height: 1.1;
    text-align: justify;
    word-break: normal;
    -ms-hyphens: auto;
    hyphens: auto;
    p {
        text-indent: 1rem;
        :first-child {
            text-indent: 0;
        }
    }
}