$column-width: 16rem; // This would be 12 picas

.clipping {
    background: $newsprint;
    width: $column-width;
    padding: .8rem;
    position: absolute;
    top: 100px;
    left: 100px;
    padding-top: 2rem;
    height: 40rem;
    overflow: hidden;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 1px rgba(black, .2);

    &.text-columns-2 {
        width: 2 * $column-width;
    }
    &.text-columns-3 {
        width: 3 * $column-width;
    }


    &.is-dragging {
    }
}

.clipping-meta {
    border-top: .2px solid black;
    padding-top: .2rem;
    padding-bottom: 1.2rem;
}

.clipping-title {
    font-weight: 800;
    margin-bottom: 1rem;
    hyphens: auto;
    
    &.style-0 {
        font-family: $serif;
        font-weight: normal;
        line-height: 1;
        font-size: 2.4rem;
    }
    &.style-1 {
        font-size: 3rem;
        padding-top: .5rem;
        border-top: .5rem solid $black;
        font-family: $serif;
        font-weight: normal;
        line-height: .9;
    }
    &.style-2 {
        font-size: 3rem;
        padding-top: .5rem;
        border-top: .5rem solid $black;
        font-family: $sans;
        font-weight: normal;
        line-height: .9;
    }
    &.style-3 {
        font-size: 3rem;
        padding-top: .5rem;
        font-family: 'kepler-std-condensed-subhead';
        font-weight: normal;
        line-height: .9;
    }
}

.clipping-intro {
    font-size: 1.4rem;
    border-bottom: .5px solid black;
    margin-bottom: .2rem;
}

.clipping-location {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: .7rem;
    font-weight: 600;
}

.clipping-body {
    font-size: 1.1rem;
    line-height: 1.1;
    text-align: justify;
    word-break: normal;
    hyphens: auto;
    .text-columns-2 &{
        column-count: 2;
    }
    .text-columns-3 &{
        column-count: 3;
    }
    p {
        text-indent: 1rem;
        :first-child {
            text-indent: 0;
        }
    }
}